 


@keyframes wave {
    0%, 100% {
      transform: translateY(0);
    }
    25% {
      transform: translateY(-5px);
    }
    50% {
      transform: translateY(0);
    }
    75% {
      transform: translateY(5px);
    }
  }
  .services-tab-tab {
    cursor: pointer;
  }
    
 
 

  
  
  .wave-image {
    position: absolute;
    top: -100px;
    left: 200px;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    animation: wave 2s linear infinite;
    z-index: 1;
  }

  .wave-image img{
height: 300px;
width: 250px;
object-fit: cover;
  }
  p.site-desc {
    font-size: 16px;
    font-family: montserrat;
    color: #000;
    font-weight: 400;
    margin: 16px 0px;
}
  
  /* Initially hide the wave image within the list item */
.services-tab-tab .wave-image {
    display: none;
  }
  
  /* Show the wave image on hover */
  .services-tab-tab:hover .wave-image {
    display: block;
  }
  
  
.services-tab-wraper {
    display: grid;
    grid-template-columns: 30% 1fr;
    column-gap: 30px;
    align-items: top;
}
.services-tab-titles {
    order: 2;
}
.services-tab-description img {
    width: 100%;
    height: 400px;
    object-fit: cover;
}
.services-ul-wrapper ul {
    display: flex;
    padding: 0px;
    list-style: none;
    flex-direction: column;
    row-gap: 20px;
}
.sitewrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20px;
}
.sitewrapper h2 {
    font-size: 20px;
    font-family: montserrat;
    text-transform: capitalize;
    color: #fff;
    margin: 0px;
    font-weight: 600;
}

.services-ul-wrapper ul li {
    padding: 30px 30px;
    background: rgb(242, 75, 116);
    position: relative;
}
.sitetitle {
    width: 33%;
}

.sitetech {
    display: flex;
    justify-content: center;
}
.sitebuild {
    display: flex;
    justify-content: flex-end;
}