img {
    height: 25px;
    width: 25px;
}
img.card-img-top {
    height: 250px;
}
.first {
    background: #808080;
}
.second {
    background: #202020;
}
.third{
    background: #202530;
}
.my-div-scroll.sticky {
    position: sticky;
    top: 0;
    z-index: 1;
}
.main-outer-deiv {
    background: #808080d1;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    max-width: 1800px;
    margin: auto;
    margin-bottom: 40px;
}

.main-outer-deiv h1,h3,p {
    color: #fff;
    font-family: montserrat;
}

.test-right-div p {
    margin: 0px;
    text-transform: capitalize;
    font-weight: 500;
    font-size: 20px;
}

.test-left-div h1 {
    font-size: 60px;
}

.test-left-div h3 {
    font-size: 40px;
    font-weight: 500;
}
.main-outer-deiv.sticky {
    position: sticky;
    top: 108px!important;
}
.main-outer-deiv{
    height: 20vw;
}

p{
    color: #000;
}
.app {
    padding: 10px;
  }
  
  .circle {
    position: fixed;
    transform: translate(-50%, -50%);
    top: 0;
    left: 0;
    opacity: 0.3;
  }
  
  .circle.sm {
    width: 30px;
    height: 30px;
  }
  
  .circle.md {
    width: 60px;
    height: 60px;
  }
  
  .circle.lg {
    width: 90px;
    height: 90px;
  }
  .circle{
    border-radius: 100%;
    background-color: #169f63;
  }
  
 